.u-section-1 {
  background-image: linear-gradient(#808080, #d9d9d9);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-slider-1 {
  margin-top: 62px;
  margin-bottom: 4px;
  min-height: 592px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-1 .u-image-1 {
  width: 444px;
  height: 532px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 586px;
  min-height: 344px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -438px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-1 .u-image-2 {
  width: 444px;
  height: 532px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-group-2 {
  width: 586px;
  min-height: 344px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -438px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-group-1 {
    width: 429px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-1 .u-group-2 {
    width: 429px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 374px;
  }

  .u-section-1 .u-group-1 {
    width: 383px;
    min-height: 277px;
    margin-top: -277px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-image-2 {
    width: 374px;
  }

  .u-section-1 .u-group-2 {
    width: 383px;
    min-height: 277px;
    margin-top: -277px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 715px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 297px;
    margin-top: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 297px;
    margin-top: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-1 .u-image-1 {
    height: 408px;
    width: 285px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    height: 408px;
    width: 285px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 759px;
}

.u-section-2 .u-text-1 {
  width: 513px;
  font-family: "Archivo Black";
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 511px;
  grid-template-columns: repeat(4, calc(25% - 23px));
  grid-template-rows: repeat(1, auto);
  height: auto;
  grid-gap: 30px;
  margin: 34px auto 0 0;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 318px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-group-1 {
  min-height: 163px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 97px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  height: 22px;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 318px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-group-2 {
  min-height: 163px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  width: 97px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  height: 22px;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  height: 318px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-group-3 {
  min-height: 163px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 20px 0;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  width: 97px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  height: 22px;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-4 {
  height: 318px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-2 .u-group-4 {
  min-height: 163px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 20px 0;
}

.u-section-2 .u-text-8 {
  margin: 0 95px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  width: 97px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  height: 22px;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-2 .u-list-1 {
    min-height: 421px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-2 .u-image-1 {
    height: 262px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-2 .u-image-2 {
    height: 262px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    padding: 0;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-image-3 {
    height: 262px;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    padding: 0;
  }

  .u-section-2 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-2 .u-image-4 {
    height: 262px;
  }

  .u-section-2 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1290px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 345px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 401px;
  }

  .u-section-2 .u-image-2 {
    height: 401px;
  }

  .u-section-2 .u-image-3 {
    height: 401px;
  }

  .u-section-2 .u-image-4 {
    height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1154px;
    grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 255px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 369px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 369px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 369px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 369px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 379px;
  }

  .u-section-2 .u-image-2 {
    height: 379px;
  }

  .u-section-2 .u-image-3 {
    height: 379px;
  }

  .u-section-2 .u-image-4 {
    height: 379px;
  }
}.u-section-3 {
  background-image: url("images/f-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 952px;
}

.u-section-3 .u-group-1 {
  width: 535px;
  min-height: 836px;
  margin: 58px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(41,46,51,0.4);
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 15px 46px 15px 45px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 605px;
  min-height: 836px;
  margin: -836px 0 58px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 86px 0 0;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 395px;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 25px 88px 0 0;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  font-style: italic;
  margin: 16px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 40px 0 0;
}

.u-section-3 .u-text-10 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 378px;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 104px 0 0;
}

.u-section-3 .u-text-12 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 104px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 441px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1421px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 60px;
    min-height: 453px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 11px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 1000px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 186px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 862px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 35px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 213px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}